@model int
@{
    ViewData["Title"] = "OrderConfirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order request submitted</h1>
        <br>
        <img src="~/images/leaves.png" width="50%">
    </div>
    <div class="col-12 text-center" style="color:maroon;">
        <br>
        Thanks for submitting
        <br>
        your request number is: @Model
    </div>
</div>